@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

ul,li {
  //list-style: none;
}
* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-items {
  display: flex;
  align-items: center;
}
.justify-content {
  display: flex;
  justify-content: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.inline-block {
  display: inline-block;
}

.font-color {
  color: #fff;
}
.line {
  width: 100%;
  height: 1px;
  background: #eee;
}
.font-size12 {
  font-size: 12px;
}
.margin-left10 {
  margin-left: 10px;
}
.margin-right10 {
  margin-right: 10px;
}
.margin-right15 {
  margin-right: 15px;
}
.margin-right20 {
  margin-right: 20px;
}
.block {
  display: block;
}
.red {
  color: #EF3030;
}
body #inp:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
}
.v-modal{
  opacity: 0.5 !important;
  background: rgba(0,0,0,0.5) !important;
}
::-webkit-scrollbar{ 
  width:8px;
  height: 8px;
}
::-webkit-scrollbar-track{
  background: #ccc;
  border-radius:0px;
}
::-webkit-scrollbar-thumb{
  border-radius:8px;
  background: #999;
}
::-webkit-scrollbar-thumb:hover{
  /* background: #333; */
}
::-webkit-scrollbar-corner{
  background: #ccc;
}